@media only screen and (min-width: 993px) {
    nav a.button-collapse {
        display: block;
    }
}

header {
    background-color: gray;
    background-size: cover;
    height: 150px;
    width: 100% !important;
}

#slide-out {
    width: 100%;
    background:#ECF0F1;
    height: 100%;
}

.mdi-navigation-menu {
    margin-left: 20px;
}

.mobile-fab-tip {
    position: fixed;
    right: 85px;
    padding:0px 0.5rem;
    text-align: right;
    background-color: #323232;
    border-radius: 2px;
    color: #FFF;
    width:auto;
}

/* #modalAvisos {
    transform: translateY(-50%) !important;
} */

#paginaLogin {
    background-color: #0b1e60;
    height: 100%;
}

#paginaPrincipal {
    display: none;
    height: 100%;
}

/* .botoesConfiguracoes {
    padding: 10px;
} */

#paginaConfiguracoes {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

.configuracoesFooter {
    height: 50px;
    
    position: absolute;
    bottom: 0;
    width:100%;
    padding-right: 10px;
}

.configuracoesMain {
    position: absolute;
    top: 0;
    bottom: 50px;
    width:100%;
}

.ofensiva {
    padding: 10px;
    width: 100%;
}

.ofensivaInterno {
    padding: 1rem;
    line-height: 1.5;
}

.iconeListaQuadros {
    float: right;
    cursor: pointer;
}